### Analysis of Epinions Data

We are provided with the Epinions data collected through a general consumer review web site Epinions.com. Each user on the site can rate and post a review for products (items) and other users would rate the review to show the helpfulness of the review.
In this data, for each user, we have user ID, gender, ratings (1-5) and reviews towards the products they bought. For each rating, we have the product name and its category, the rating score, the time point when the rating is created, and the helpfulness (1-6) of this rating.

Originally, there are several separate files to record the user-item rating info, user demographic info and item descriptive info, we have conducted preliminary processing to map and merge the data into one csv file named 'Epinions_test_data.csv'. The header of the csv file is shown below. 


| userId | gender | rating | review| item | category | helpfulness | timestamp |
    | ---- | ---- | ---- | ---- | ---- | ---- | ---- | ---- | 
    
#### Description of Fields

* __userId__ - the user's id
* __gender__ - the user's gender
* __item__ - the product's name
* __category__ - the category of the item
* __rating__ - the user's rating towards the item
* __review__ - the user's review towards the item
* __helpfulness__ - the helpfulness of this rating
* __timestamp__ - the timestamp when the rating is created

Note that, a same user (i.e., a same userId) corresponds to a same gender; a same item corresponds to a same category; a same user (i.e., a same userId) may rate multiple items; a same item may receive ratings and reviews from multiple users and each review is associted with a single helpfulness value calculated based on the feedbacks from other users.

There are four questions to explore with the data as shown below.

 #### Q1. Remove missing data
 
Please remove the following records in the csv file: 
 
 * gender/rating/helpfulness is missing
 * review is 'none'

__Display the DataFrame, counting number of Null values in each column, and print the length of the data__ before and after removing the missing data.

In [1]:
# your code and solutions
## Importing all the tools needed
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib

Using matplotlib backend: <object object at 0x000002682C0AEF90>

In [2]:
#columns  = ['userid', 'gender', 'rating', 'review', 'item', 'category', 'helpfulness', 'timestamp']
userData = pd.read_csv('Epinions_test_data.csv')

In [3]:
userData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   userId       10000 non-null  int64
 1   gender       9973 non-null   object
 2   item         10000 non-null  object
 3   rating       9969 non-null   float64
 4   review       10000 non-null  object
 5   helpfulness  9974 non-null   float64
 6   timestamp    10000 non-null  int64
 7   category     10000 non-null  object
dtypes: float64(2), int64(2), object(4)
memory usage: 625.1+ KB

In [4]:
userData.head()

,userId,gender,item,rating,review,helpfulness,timestamp,category
0,1324,F,NBC,5.0,They made it after all....,4.0,21400,Media
1,10222,M,NetFlix,2.0,Don't Bother Unless you live in a remote area,2.0,41604,Online Stores & Services
2,2777,M,Toy Story 2,4.0,Good for adults and children,4.0,10200,Movies
3,11763,M,Fight Club,5.0,I wish I wasn't hesitant about this movie,4.0,70100,Movies
4,6003,M,Quicken Loans,5.0,Used Quicken Loans to save time and money on r...,5.0,72103,Personal Finance

In [5]:
#Dataframe before cleaning
print('Length of the data before removing missing data ', len(userData))

Length of the data before removing missing data  10000

In [6]:
#Cleaning the dataframe
clean_userData = userData.drop(userData.index[(userData['review'] == 'none')]).dropna()
print('Length of the data after removing the missing data ', len(clean_userData))

Length of the data after removing the missing data  9890

In [7]:
clean_userData.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9890 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   userId       9890 non-null   int64
 1   gender       9890 non-null   object
 2   item         9890 non-null   object
 3   rating       9890 non-null   float64
 4   review       9890 non-null   object
 5   helpfulness  9890 non-null   float64
 6   timestamp    9890 non-null   int64
 7   category     9890 non-null   object
dtypes: float64(2), int64(2), object(4)
memory usage: 695.4+ KB

#### Q2. Descriptive statistics

With the cleaned data in Q1, please provide the data summarization as below:

* Q2.1 total number of unique users, unique reviews, unique items, and unique categories
* Q2.2 descriptive statistics, e.g., the total number, mean, std, min and max regarding all rating records
* Q2.3 descriptive statistics, e.g., mean, std, max, and min of the number of items rated by different genders 
* Q2.4 descriptive statistics, e.g., mean, std, max, min of the number of ratings that received by each items

In [8]:
#Q2.1 total number of unique users, unique reviews, unique items, and unique categories
#Attempt
unique_users = clean_userData['userId'].unique()
print('Number of unique user: ', unique_users.size)

unique_items = clean_userData['item'].unique()
print('Number of unique items: ', unique_items.size)

unique_reviews = clean_userData['review'].unique()
print('Number of unique reviews: ', unique_reviews.size)

unique_categories = clean_userData['category'].unique()
print('Number of unique categories: ', unique_categories.size)

Number of unique user:  4326
Number of unique items:  89
Number of unique reviews:  9727
Number of unique categories:  9

In [9]:
#Q2.2 descriptive statistics, e.g., the total number, mean, std, min and max regarding all rating records
# Q2.2 Attempt
clean_userData['rating'].describe()

count    9890.000000
mean        3.701517
std         1.387026
min         1.000000
25%         3.000000
50%         4.000000
75%         5.000000
max         5.000000
Name: rating, dtype: float64

In [10]:
# Q2.3 descriptive statistics, e.g., mean, std, max, and min of the number of items rated by different genders
# Attempt
genderRatedCount = clean_userData.groupby(['gender'])['item'].count().reset_index(name='count')
genderRatedCount.head()

  gender  count
0      F   5025
1      M   4865

In [11]:
genderRatedCount['count'].describe()

count       2.000000
mean     4945.000000
std       113.137085
min      4865.000000
25%      4905.000000
50%      4945.000000
75%      4985.000000
max      5025.000000
Name: count, dtype: float64

In [12]:
#Q2.4 descriptive statistics, e.g., mean, std, max, min of the number of ratings that received by each items
#Attempt
itemRateRatings = clean_userData.groupby(['item'])['rating'].count().reset_index(name='count')
itemRateRatings.head()

                    item  count
0   AOL (America Online)    446
1          All Advantage    306
2  Alta Vista (by 1stUp)     84
3             Amazon.com    110
4      American Airlines     92

In [13]:
itemRateRatings['count'].describe()

count     89.000000
mean     111.123596
std       55.955709
min       60.000000
25%       82.000000
50%       92.000000
75%      121.000000
max      446.000000
Name: count, dtype: float64

#### Q3. Plotting and Analysis

Please try to explore the correlation between gender/helpfulness/category and ratings; for instance, do female/male users tend to provide higher ratings than male/female users? Hint: you may use the boxplot function to plot figures for comparison (___Challenge___)
    
You may need to select the most suitable graphic forms for ease of presentation. Most importantly, for each figure or subfigure, please summarise ___what each plot shows___ (i.e. observations and explanations). Finally, you may need to provide an overall summary of the data.

In [26]:
# Correlation between gender and ratings
clean_userData.boxplot("rating", by = "gender")

<img src="Figure_1.png" >

# Analysis

<p>Distrubution of rating for male and female are identical therefore it shows, gender does not play role in influencing ratings</p>

In [15]:
# Correlation between helpfuness and ratings
clean_userData.boxplot("rating", by = "helpfulness")

<img src="Figure_2.png" >

# Analysis

<p>Here we can see that higher ratings tend to have higher helpfulness score, indicating that there is a positive correlation between rating with helpfulness</p>

We can conclude that product with higher helpfulness score is generally rate higher number of stars, this is evident for product that work as indented and quality of their work matches the standard promised on the box itself or an advertisment of that product.

In summary there is strong evidence by examining the above boxplot that positive correlation between helpfullness and rating of a product

In [16]:
# Correlation between category and ratings
clean_userData.boxplot("rating", by = "category")
plt.xticks(rotation = 90)

(array([1, 2, 3, 4, 5, 6, 7, 8, 9]),
 [Text(1, 0, 'Books'),
  Text(2, 0, 'Games'),
  Text(3, 0, 'Hotels & Travel'),
  Text(4, 0, 'Kids & Family'),
  Text(5, 0, 'Media'),
  Text(6, 0, 'Movies'),
  Text(7, 0, 'Online Stores & Services'),
  Text(8, 0, 'Personal Finance'),
  Text(9, 0, 'Restaurants & Gourmet')])

<img src="Figure_3.png" >

# Analysis

Distribution of category by rating is are quite similiar with exception being Games and Books

Examining the boxplot we can see books are normally rated the highest indicating books are made up to a high standard followed by Games category being the second highest standard for publishing products

# Summary of the Data

Dataframe with 4326 unique users and 9 category based reviews and rating, provides sufficient data to analysis form solid correlations with the given categories

#### Q4. Detect and remove outliers

We may define outlier users, reviews and items with three rules (if a record meets one of the rules, it is regarded as an outlier):

* reviews of which the helpfulness is no more than 2
* users who rate less than 7 items
* items that receives less than 11 ratings 
 
Please remove the corresponding records in the csv file that involves outlier users, reviews and items. After that, __print the length of the data__.

In [17]:
# Remove reviews of which the helpfulness is no more than 2
removeHelpOut = clean_userData.drop(clean_userData.index[(clean_userData['helpfulness'] <= 2)])
print('Length of Dataframe after removing outlier in helpfulness: ', len(removeHelpOut))

Length of Dataframe after removing outlier in helpfulness:  7562

In [18]:
# Group Reviews by their users and items
groupReview = removeHelpOut.groupby(['userId'])['item'].count().reset_index(name= 'count')
print('The number of users after removing outlier helpfulness: ', len(groupReview))

The number of users after removing outlier helpfulness:  3667

In [19]:
groupReview.head()

   userId  count
0       3      3
1       4      3
2       7      1
3      10      1
4      12      1

In [20]:
# users who rate less than 7 items
# Attempt
users7 = groupReview[groupReview['count'] < 7]['userId'].tolist()
print(len(users7))

3532

In [21]:
# filter users have rated less than 7 items
#removeHelpOut = removeHelpOut[removeHelpOut['userId'].isin(users7)]
userClean = removeHelpOut.drop(removeHelpOut.index[removeHelpOut['userId'].isin(users7)])
print('The length of data: ', len(userClean))

The length of data:  1292

In [22]:
# group item byy their rating
dfItem = userClean.groupby('item').count()['rating'].reset_index(name = 'count')
dfItem

                     item  count
0    AOL (America Online)     26
1           All Advantage     29
2   Alta Vista (by 1stUp)      3
3              Amazon.com     10
4       American Airlines      9
..                    ...    ...
84                Wendy's     14
85      What Lies Beneath     12
86                  X-Men     31
87                  X.com      7
88                   eBay     35

[89 rows x 2 columns]

In [23]:
# Filter items less than 11 ratings
lowRateItem = dfItem[dfItem['count'] < 11]['item'].tolist()
lowRateItem

['Alta Vista (by 1stUp)',
 'Amazon.com',
 'American Airlines',
 'Any Given Sunday',
 "Applebee's",
 'Bank of America',
 'BlueLight.com',
 'Crouching Tiger, Hidden Dragon',
 'Deep Blue Sea',
 'Diablo 2 - Bestseller Series for Windows',
 'Earthlink',
 'Golden Eye 007 for Nintendo 64',
 'Google',
 'Huggies Ultra Trim Diapers',
 'Luvs Ultra Leakguards Stretch',
 'MTV',
 'NetFlix',
 'Northwest Airlines',
 'Playtex Diaper Genie System',
 'Priceline Flight Reservations',
 'Quicken Loans',
 'Road Runner (includes MediaOne)',
 'Roller Coaster Tycoon For Windows',
 'Sega Dreamcast Grey Console',
 'Sony PlayStation 2 Slimline Console',
 'Spedia',
 'Teletubbies',
 'The Legend Of Zelda Ocarina Of Time for Nintendo 64',
 'The Original Furby',
 'Treeloot.com',
 'United Airlines',
 'X.com']

In [24]:
# Fitlering items into new df
itemClean = userClean.drop(userClean.index[userClean['item'].isin(lowRateItem)])
itemClean

,userId,gender,item,rating,review,helpfulness,timestamp,category
65,10729,F,NetZero,4.0,Good service,4.0,41201,Online Stores & Services
67,10729,M,Shrek,5.0,Shrek is shrieking good fun,5.0,82101,Movies
69,10729,M,MyPoints.com,4.0,It's great!,5.0,92500,Online Stores & Services
70,10729,M,Erin Brockovich,5.0,Great Film,6.0,102500,Movies
71,10729,M,How the Grinch Stole Christmas,5.0,Put me in the Christmas Spirit,5.0,112200,Movies
...,...,...,...,...,...,...,...,...
9815,12167,M,NetZero,5.0,A fair price,5.0,71000,Online Stores & Services
9817,12167,F,Erin Brockovich,4.0,A new twist,4.0,100700,Movies
9865,1154,M,"South Park: Bigger, Longer & Uncut",5.0,"South Park: Bigger, Longer, & Uncut: Bill Gate...",4.0,11300,Movies
9866,1154,F,PayPal,4.0,Beamed me $10 over and over again,5.0,22500,Personal Finance
9868,1154,F,MyPoints.com,4.0,"50,000 points (about $500) and counting, (3/14...",4.0,120299,Online Stores & Services

In [25]:
#Exporting the modified data
itemClean.to_csv('Cleaned_Data.csv', index=False)